prompts/
output/
__pycache__/
inference/cache/
data/
test.ipynb
sample_data/
sample_data_hf/
data_1/
music_data_2.zip
training/music-lm/.cache/
sd/
zips/
out.txt
err.txt
test_data/
test_data.zip
test_new.zip
inference/.musika/
inference/musika/checkpoints/
evaluation/Cnn14_16k_mAP%3D0.438.pth
test_data_1/
evaluation/audio_text_pairs/
quality/
fidelity/
quality_intelligibility_coherence_musicality/
diversity/
manual_evaluation/
training/mousai/scratch/
output_1/
training/mousai/outputs/
classical_music_data/
classical_music_data_1/
classical_music_data_10/
classical_music_data_11/
classical_music_data_12/
classical_music_data_13/
classical_music_data_14/
classical_music_data_15/
classical_music_data_16/
classical_music_data_17/
classical_music_data_18/
classical_music_data_19/
classical_music_data_2/
classical_music_data_20/
classical_music_data_21/
classical_music_data_22/
classical_music_data_23/
classical_music_data_24/
classical_music_data_25/
classical_music_data_26/
classical_music_data_27/
classical_music_data_28/
classical_music_data_29/
classical_music_data_3/
classical_music_data_30/
classical_music_data_4/
classical_music_data_5/
classical_music_data_6/
classical_music_data_7/
classical_music_data_8/
classical_music_data_9/
data_hf/
out_lines.txt
training/mousai/err_test.txt
training/mousai/module.py.save
training/mousai/out_test.txt
training/mousai/run.sh
training/mousai/run_4.sh
training/mousai/run_4_test.sh
training/music-lm/soundstream_results/
training/musika/checkpoints/
training/musika/logs/
training/mousai/validation_dir/