prompts/
output/
__pycache__/
inference/cache/
data/
test.ipynb
sample_data/
sample_data_hf/
data_1/
music_data_2.zip
training/music-lm/.cache/
sd/
zips/
out.txt
err.txt
test_data/
test_data.zip
test_new.zip
inference/.musika/
inference/musika/checkpoints/
evaluation/Cnn14_16k_mAP%3D0.438.pth
test_data_1/
evaluation/audio_text_pairs/
quality/
fidelity/
quality_intelligibility_coherence_musicality/
diversity/
manual_evaluation/
training/mousai/scratch/
output_1/
training/mousai/outputs/
